 <div class="container">
      <div class="starter-template">
        <h1>Jeans That Fit</h1>
        <p class="lead">The app to find your perfect jeans.</p>
        <button type="button" class="btn btn-primary btn-lg">Get Started now!</button>
      </div>
     <div class="row">
	  <div class="col-md-4">
	      <h2>Remove Guesswork</h2>  
	      <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
	  </div>
	  <div class="col-md-4">
	  	<h2>Find perfect fitting jeans.</h2>  
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
	  </div>
	  <div class="col-md-4">
	  	<h2>Enhance your shopping experience.</h2>  
        <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	  </div>
	</div>
</div><!-- /.container -->
